[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git

[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/ascii-press"]
	path = themes/ascii-press
	url = https://github.com/bric3/ascii-press.git
[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:athul/archie.git
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = git@github.com:google/docsy.git
